apiVersion: v1
kind: Service
metadata:
  labels:
    app: atkans
    service: atkans
    version: "{{ atkans_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: atkans-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: 8000-tcp
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: atkans
    deployment: "atkans-app-{{ deployment_stamp }}"
  type: ClusterIP
