apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: atkans
    service: nginx
    version: "{{ atkans_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "atkans-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ atkans_nginx_replicas }}
  selector:
    matchLabels:
      app: atkans
      service: nginx
      version: "{{ atkans_nginx_image_tag }}"
      deployment: "atkans-nginx-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: atkans
        service: nginx
        version: "{{ atkans_nginx_image_tag }}"
        deployment: "atkans-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deployment
                  operator: In
                  values:
                  - "atkans-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = atkans_nginx_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ atkans_nginx_image_name }}:{{ atkans_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: {{ atkans_nginx_port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: atkans-v-nginx
              readOnly: true
{% if atkans_should_activate_media_volume %}
            - mountPath: /data/media
              name: atkans-v-media
              readOnly: true
{% endif %}
{% if activate_http_basic_auth or atkans_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: atkans-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ atkans_nginx_healthcheck_endpoint }}"
              port: {{ atkans_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ atkans_nginx_healthcheck_endpoint }}"
              port: {{ atkans_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
          resources: {{ atkans_nginx_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
      volumes:
        - name: atkans-v-nginx
          configMap:
            name: atkans-nginx-{{ deployment_stamp }}
{% if atkans_should_activate_media_volume %}
        - name: atkans-v-media
          persistentVolumeClaim:
            claimName: atkans-pvc-media
{% endif %}
{% if activate_http_basic_auth or atkans_activate_http_basic_auth %}
        - name: atkans-htpasswd
          secret:
            secretName: "{{ atkans_nginx_htpasswd_secret_name }}"
{% endif %}
